.app {
  text-align: center;
  margin: 0 auto;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.todo-list {
background-color: white;
margin: auto;
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid #efefef;    
}

.pagination button {
	text-align: center;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 5px;
}